.button__wrapper {
    padding: 4px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    gap: 3px;
    position: relative;
    cursor: pointer;
}

.button__wrapper:hover {
    background-color: rgba(13, 14, 19, 0.04);
}

.button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 11px;
    cursor: pointer;
}

