.slide {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
}

.slide__number {
    width: fit-content;
    margin: 0 10px;
}

.slide__preview {
    width: 300px;
    height: 170px;
    border-radius: 4px;
}


.slide__preview:hover {
    border: 3px solid #c5c5c5;
}

.drag__indicator {
    height: 2px;
    background-color: rgba(107, 83, 255, 0.64);
    margin-top: -7.5px;
    margin-bottom: 7.5px;
    margin-left: 10px;
    opacity: 0;
}

.drag__indicator:hover {
    opacity: 1;
}